<nav>
    <div class="logo">Airbnb Clone</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/listings">Listings</a></li>
      <li><a href="/host/addHome">Add Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>