<nav>
  <div class="logo">Airbnb Clone</div>
  <ul>
    
    <li><a href="/">Home</a></li>
    <% if(isLoggedIn){ %>
      <li><a href="/host/addHome">Add Home</a></li>
      <li><a href="/host/hostHomeList">Host Home List</a></li>
      <li><a href="/homeList">Home Lists</a></li>
      <li><a href="/bookings">Bookings</a></li>
      <li><a href="/favourites">Favourites</a></li>
    <% } %>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>