PORT=
MONGODB_URI=
SESSION_SECRET=
NODE_ENV=
EMAIL_USER=
EMAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
APP_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=