<%- include("../partials/header", { pageTitle: "Bookings" }) %>

  <link rel="stylesheet" href="/css/bookings.css">
</head>
<body>
  <%- include('../partials/navbar') %>
  <header>
    <h1>My Bookings</h1>
  </header>
  <a href="/">go to home to book more homes</a>
</body>
</html>


