<%- include('partials/header') %>

<link rel="stylesheet" href="/css/homeAdded.css">

</head>
<body>
  <%- include('partials/navbar') %>
  <header>
    <h1>Home Registered Successfully</h1>
  </header>
  <a href="/">Go to Home</a>
</body>
</html>
